<!DOCTYPE html>
<html>
  <head>
    <base href="{{ base_uri|e }}">
    <title>BookDB</title>

    <link rel="stylesheet" href="static/style.css" type="text/css">
    <script src="static/script.js"></script>
  </head>

  <body>
    <div class="page">
      {% block body %}{% endblock %}

      <footer>
        <nav>
          <ul>
            {% if allow_writes %}<li><a href="/add">Add new book</a></li>{% endif %}
            <li><a href="https://github.com/barrucadu/bookdb">Github</a></li>
          </ul>
        </nav>
      </footer>
    </div>

    <datalist id="authors">
      {% for name in authors %}
      <option value="{{name|e}}">
      {% endfor %}
    </datalist>

    <datalist id="editors">
      {% for name in editors %}
      <option value="{{name|e}}">
      {% endfor %}
    </datalist>

    <datalist id="translators">
      {% for name in translators %}
      <option value="{{name|e}}">
      {% endfor %}
    </datalist>

    <script type="text/javascript">
      document.getElementsByName("preview[]").forEach(el => set_preview_hover(el));
    </script>
  </body>
</html>
