* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body {
    background-color: #A7BFC1;
    margin: 2%;
    font-family: sans-serif;
    font-size: 13px;
    color: #333333;
}

.page {
    background-color: #E7E7E5;
    border: 5px solid #AAB080;
    width: 1280px;
    margin: 0 auto;
    padding: 25px;
}

div.information {
    background-color: #E7E7E5;
    border: 5px solid #AAB080;
    width: 600px;
    margin: 0 auto;
    padding: 25px;
}

body.error {
    background-color: #E89E79;
}

body.error div.information {
    border-color: #FF8652;
}

p {
    margin-bottom: 6px;
}

ul, ol {
    list-style-type: none;
}

header {
    margin-bottom: 16px;
}

h1 {
    margin-bottom: 8px;
    font-size: 2em;
}

nav ul li {
    display: inline;
    margin: 6px;
}

table {
    width: 100%;
    border: 1px solid #DAE0B0;
    border-spacing: 0;
    border-collapse: collapse;
}

tr + tr {
    border-top: 1px solid #DAE0B0;
}

td + td {
    border-left: 1px solid #DAE0B0;
}

td ol, td ol li {
    margin: 0;
    padding: 0;
    display: inline;
}

td ol li {
    display: block;
}

th {
    background-color: #DAE0B0;
}

th, td {
    padding: 5px;
    max-width: 500px;
}

.isbn {
    font-family: monospace;
}

a:active, a:link, a:visited, a:hover {
    color: #838474;
    text-decoration: none;
}

a:hover {
    color: #503941;
}

footer {
    font-size: 0.9em;
    text-align: right;
    margin-top: 16px;
}

fieldset {
    border: 0;
}

fieldset li {
    margin-bottom: 6px;
}

label {
    font-weight: bold;
    width: 175px;
    float: left;
}

.required {
    color: #FF6666;
}

input, textarea, select {
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #555555;
    padding: 5px;
    background-color: #fff;
}

input[type="text"], input[type="date"], select {
    width: 250px;
}

textarea {
    width: 350px;
    height: 150px;
}

.help {
    background-color: #D4C8B7;
    border: 3px solid #81838C;
    padding: 8px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

dt {
    font-weight: bold;
    text-decoration: underline;
}

dd {
    margin-left: 3em;
    margin-bottom: 2em;
}

dd li {
    display: inline;
    margin: 0 6px;
}

td.meta {
    font-size: 0.85em;
    min-width: 3em;
}

img {
    max-width: 16px;
    max-height: 24px;
    margin: 0 auto;
}

blockquote {
    font-style: italic;
    margin: 1em;
}

.notes {
    margin: 1em;
}

.pseudo {
    font-style: italic;
}

#preview {
	position: absolute;
	border: 1px solid #cccccc;
	background: #333333;
	padding: 5px;
	display: none;
	color: #ffffff;
}

#preview img {
    max-width: 333px;
    max-height: 500px;
}
