<!DOCTYPE html>
<html>
  <head>
    <title>Delete</title>

    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>

  <body>
    <main id="notice">
      <p>Do you want to delete <strong>{{ book.display_title }}</strong>?</p>
      <form action="/book/{{ book.code }}/delete" method="post">
        <div class="form-row">
          <div class="form-group">
            <input class="form-button" type="submit" value="Delete It">
          </div>
        </div>
      </form>
      <p><a href="/search">Click here to go back.</a></p>
    </main>
  </body>
</html>
